body{
    background-image: linear-gradient(to top, #ede1c8, #ede1c8, #ede1c8, #ede1c8, #ede1c8, #efddc9, #f0dacb, #efd7cd, #e8d3d2, #dcd0d4, #d1cdd1, #cacaca);;
    font-family: Tahoma;
    font-size: 30;
    padding: 10%;
    
}

#image1{
    border-radius: 30px;
}

#image2{
    border-radius: 30px;
}
#image3{
    border-radius: 30px;
}

#image4{
    border-radius: 30px;
}
#title1{
    text-align: center;
}