body{
    background-color:rgb(237, 225, 200);
    font-family: Tahoma;
    font-size: 30;
    padding: 10%;
    
}

#iamge1{
    border-radius: 20%;
}

#iamge2{
    border-radius: 5px;
}
#title1{
    text-align:
}